/Documents/NetBeansProjects/prjRetangulo1/nbproject/private/
/Documents/NetBeansProjects/prjRetangulo1/build/
/Documents/NetBeansProjects/prjRetangulo2/nbproject/private/
/Documents/NetBeansProjects/prjRetangulo2/build/
/Documents/NetBeansProjects/prjCirculo1/nbproject/private/
/Documents/NetBeansProjects/prjCirculo1/build/
/Documents/NetBeansProjects/prjCirculo2/nbproject/private/
/Documents/NetBeansProjects/prjCirculo2/build/
/Documents/NetBeansProjects/prjAluno/nbproject/private/
/Documents/NetBeansProjects/prjAluno/build/
/Downloads/prjExemploMetodoConstrutor/prjExemploMetodoConstrutor/dist/