<div class="display-6 bg-secondary text-center text-light p-3">
  Cadastro de Músicas
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Compositor</th>
      <th scope="col">Album</th>
      <th scope="col">Genero</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Baianá</td>
      <td>Barbatuques</td>
      <td>O seguinte é esse</td>
      <td>Maracatu</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Suburbia</td>
      <td>Trombone Shorty</td>
      <td>Hurricane</td>
      <td>New Orelans Funky</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>O Guarani</td>
      <td>OBMJ</td>
      <td>Orquestra Brasileira de Música Jamaicana</td>
      <td>Ska</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Caravan</td>
      <td>Dizzy Gillespie</td>
      <td>Odyssey</td>
      <td>Jazz</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Funk Brother Soul</td>
      <td>Gerson King Combo</td>
      <td>Volume II</td>
      <td>Funk</td>
    </tr>
  </tbody>
</table>
