<div class="display-6 bg-secondary text-center text-light p-3">
  Cadastro de Músicas
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Compositor</th>
      <th scope="col">Album</th>
      <th scope="col">Genero</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Baianá</td>
      <td>Barbatuques</td>
      <td>O seguinte é esse</td>
      <td>Barbatuques</td>
    </tr>
  </tbody>
</table>
